<% include ../Metadata/header %>
 	<div class="ui main container ">
	 <div class="ui top attached segment" id="this">
	 	<div class="ui divided items">
 		<%blogs.forEach(function(blog){ %>
	 		<div class="item">
			 	<div class="ui medium rounded image" id="img">
	 				<img src="<%= blog.Image %>">
	 			</div>
	 			<div class="content">
	 				<a href="/blog/<%=blog._id %>" class="header"> <%= blog.title %> </a>
					 <div class="meta">
	 					<span> <%= blog.date.toDateString() %> </span>
	 				</div>
					 <div class="discription">
	 				<p> <%- blog.body.substring(0,150) %>........ </p>
					</div>
					<div class="extra">
						<a class="ui blue inverted button"href="/blog/<%=blog._id %>">Show More <i class="right chevron icon"></i></a>
					</div>
	 			</div>
	 		</div>
	 	<% }) %>
		</div>
	 </div>
 	</div>
<% include ../Metadata/footer %>